In [1]:
import pandas as pd
import numpy as np

In [3]:
classif = pd.Series(["Original Data", "All Paraphrases", "Similarity < 0.8", "Similarity < 0.4", 
                    "4 Least Similar", "2 Least Similar"])

results = pd.Series([0.753,0.696,0.66,0.6969,0.7385,0.7429])

In [7]:
res = pd.DataFrame([classif, results])

In [5]:
res.head()

,0,1,2,3,4,5
0,Original Data,All Paraphrases,Similarity < 0.8,Similarity < 0.4,4 Least Similar,2 Least Similar
1,0.753,0.696,0.66,0.6969,0.7385,0.7429